
/*---------------------------------------------------- */
/*----------------------------------------------------*/
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

.row.m0 {
  margin: 0px;
}

.p0 {
  padding: 0px;
}

body {
  line-height: 28px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

#success {
  display: none;
}

#error {
  display: none;
}

.display_table {
  display: table;
  width: 100%;
}

.display_table_row {
  display: table-row;
}

.display_table_cell {
  display: table-cell;
  float: none !important;
}

.p_100 {
  padding: 100px 0px;
}

iframe {
  border: none;
}

i:before {
  margin-left: 0px !important;
}

/* Main title css
============================================================================================ */
.c_title {
  text-align: center;
  padding-bottom: 40px;
}

.c_title img {
  padding-bottom: 30px;
}

.c_title h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

.c_title h2 {
  font-size: 48px;
  color: #0b1033;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.l_title {
  padding-bottom: 55px;
}

.l_title img {
  padding-bottom: 30px;
}

.l_title h6 {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c8d93;
  padding-bottom: 10px;
}

.l_title h2 {
  font-size: 48px;
  color: #0b1033;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.l_title h2 span {
  font-style: italic;
  color: #6fbbfe;
}

/* Main title css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Main Menu Area css
============================================================================================ */
.main_menu_area {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 30;
  padding: 0px 45px;
}

.main_menu_area .navbar {
  padding: 0px;
  border-radius: 0px;
  background-color: transparent !important;
}

.main_menu_area .navbar .navbar-toggler {
  border: none;
  border-radius: 0px;
  padding: 0px;
}

.main_menu_area .navbar .navbar-toggler span {
  height: 3px;
  width: 25px;
  display: block;
  background: #0b1033;
  margin-bottom: 3px;
}

.main_menu_area .navbar .navbar-toggler span:last-child {
  margin-bottom: 0px;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-collapse {
    text-align: right;
    display: block !important;
  }
}

.main_menu_area .navbar .navbar-nav {
  display: inline-block;
  text-align: right;
}

.main_menu_area .navbar .navbar-nav li {
  display: inline-block;
  margin-right: 55px;
}

.main_menu_area .navbar .navbar-nav li a {
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: .65px;
  padding: 0px;
  line-height: 118px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.main_menu_area .navbar .navbar-nav li:last-child {
  margin-right: 0px;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu {
    -webkit-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    display: block;
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    transform-origin: 50% 0;
    min-width: 250px;
    background: #171717;
    left: auto;
    right: 0px;
    top: 90%;
    border-radius: 0px;
    border: none;
    padding: 30px 0px 30px 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    visibility: hidden;
  }
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li {
  margin-right: 0px;
  display: block;
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li a {
  display: block;
  line-height: 38px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  letter-spacing: .48px;
  font-size: 16px;
  padding: 0px 30px;
  text-transform: inherit;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
  font-weight: normal;
  text-shadow: none;
}

.main_menu_area .navbar .navbar-nav li.submenu .dropdown-menu li:hover a {
  color: #97ccfe;
}

@media (min-width: 992px) {
  .main_menu_area .navbar .navbar-nav li:hover.submenu .dropdown-menu {
    -webkit-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    visibility: visible;
  }
}

.main_menu_area .navbar .navbar-nav li:hover a, .main_menu_area .navbar .navbar-nav li.active a {
  color: #0b1033;
}

.main_menu_area.navbar_fixed {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(70px);
  -ms-transform: translateY(70px);
  transform: translateY(70px);
  -webkit-transition: background 500ms ease, -webkit-transform 500ms ease;
  transition: background 500ms ease, -webkit-transform 500ms ease;
  -o-transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease;
  transition: transform 500ms ease, background 500ms ease, -webkit-transform 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  z-index: 999999;
}

.main_menu_area.navbar_fixed .navbar .navbar-nav li a {
  line-height: 70px;
}

/* End Main Menu Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Banner Area css
============================================================================================ */
.banner_area {
  position: relative;
  z-index: 3;
  overflow: hidden;
}

.banner_area:before {
  content: "";
  background: url(../img/banner/banner-bg.png) no-repeat scroll center right;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  max-width: 1233px;
  width: 100%;
}

.banner_inner_text {
  padding-top: 200px;
  position: relative;
  padding-bottom: 95px;
}

.banner_inner_text:before {
  content: "";
  width: 213px;
  height: 1px;
  position: absolute;
  background: #ced0e0;
  left: 0px;
  bottom: 0px;
}

.banner_inner_text h2 {
  font-size: 72px;
  color: #0b1033;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.banner_inner_text p {
  font-size: 24px;
  color: #6b7d8e;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  padding-top: 15px;
}

/* End Banner Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Slider css
============================================================================================ */
.main_slider_area {
  background: url(../img/home-slider/slider-bg-1.png) no-repeat scroll center center;
  background-size: cover;
}

.main_slider_area .rev_slider .tp-revslider-mainul li .slider_text_box .first_text {
  font-weight: normal !important;
  color: #0b1033;
}

.main_slider_area .rev_slider .tp-revslider-mainul li .slider_text_box .secand_text {
  color: #6b7d8e;
}

.main_slider_area .rev_slider .tp-revslider-mainul li .slider_text_box .more_btn {
  -webkit-transition: all 400ms linear !important;
  -o-transition: all 400ms linear !important;
  transition: all 400ms linear !important;
  padding: 0px 53px;
}

.main_slider_area .rev_slider .tp-bullets {
  left: calc(50% - 970px) !important;
}

.main_slider_area .rev_slider .tp-bullets .tp-bullet {
  height: 10px;
  width: 10px;
  background: #b3adff;
  border: 5px solid #fff;
}

.main_slider_area .rev_slider .tp-bullets .tp-bullet.selected {
  background: #97cdfe;
  border-color: #97cdfe;
}

.main_slider_area .rev_slider .tp-leftarrow, .main_slider_area .rev_slider .tp-rightarrow {
  height: 120px;
  background-image: -webkit-gradient(linear, left top, right top, from(#70bafe), color-stop(51%, #998dff), to(#70bafe));
  background-image: -webkit-linear-gradient(left, #70bafe 0%, #998dff 51%, #70bafe 100%);
  background-image: -o-linear-gradient(left, #70bafe 0%, #998dff 51%, #70bafe 100%);
  background-image: linear-gradient(to right, #70bafe 0%, #998dff 51%, #70bafe 100%);
  background-size: 200% auto;
  width: 138px;
  border: 10px solid rgba(204, 241, 255, 0.5);
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.main_slider_area .rev_slider .tp-leftarrow:before, .main_slider_area .rev_slider .tp-rightarrow:before {
  line-height: 100px;
}

.main_slider_area .rev_slider .tp-leftarrow:hover, .main_slider_area .rev_slider .tp-rightarrow:hover {
  background-position: right center;
  color: #fff;
}

.main_slider_area .rev_slider .tp-leftarrow {
  border-bottom-right-radius: 60px;
  border-top-right-radius: 60px;
  border-left: 0px;
}

.main_slider_area .rev_slider .tp-rightarrow {
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  border-right: 0px;
}

/* End Slider css
============================================================================================ */
/* Testimonials Slider css
============================================================================================ */
.testimonials_area {
  padding-top: 190px;
  padding-bottom: 130px;
  border-bottom: 1px solid #bbbec1;
}

.testimonials_slider {
  position: relative;
}

.testimonials_slider:before {
  content: "";
  background: url(../img/3d-shap.png) no-repeat scroll center center;
  height: 600px;
  max-width: 524px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: -210px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.testimonials_slider .owl-item.center {
  color: #fff;
}

.testimonials_slider .owl-item.center h3 {
  color: #fff;
}

.testimonials_slider .owl-item.center p {
  color: #fff;
}

.testimonials_slider .owl-item.center .media .media-body h5 {
  color: #fff;
}

.testimonials_slider .testi_item h3 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #0b1033;
}

.testimonials_slider .testi_item p {
  font-size: 15px;
  color: #7c8d93;
  line-height: 28px;
  font-weight: normal;
  padding: 20px 0px 55px 0px;
}

.testimonials_slider .testi_item .media .d-flex {
  padding-right: 20px;
}

.testimonials_slider .testi_item .media .media-body h4 {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0b1033;
  padding-bottom: 8px;
}

.testimonials_slider .testi_item .media .media-body h5 {
  font-family: "Roboto", sans-serif;
  color: #7c8d93;
  font-weight: 500;
  font-size: 12px;
}

.testimonials_slider .owl-dots {
  text-align: center;
  z-index: 4;
  margin-top: 50px;
}

.testimonials_slider .owl-dots .owl-dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  margin-right: 8px;
}

.testimonials_slider .owl-dots .owl-dot:last-child {
  margin-right: 0px;
}

/* End Testimonials Slider css
============================================================================================ */
/*---------------------------------------------------- */

/*----------------------------------------------------*/
/* Button Area css
============================================================================================ */
/*.more_btn {
  padding: 0px 46px;
  background-image: -webkit-gradient(linear, left top, right top, from(#6fbcfe), color-stop(51%, #998dff), to(#6fbcfe));
  background-image: -webkit-linear-gradient(left, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  background-image: -o-linear-gradient(left, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  background-image: linear-gradient(to right, #6fbcfe 0%, #998dff 51%, #6fbcfe 100%);
  background-size: 200% auto;
  z-index: 2;
  display: inline-block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 55px;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
}

.more_btn:hover {
  background-position: right center;
  color: #fff;
}

.submit_btn {
  background-image: -webkit-gradient(linear, left top, right top, from(#70bafe), color-stop(51%, #998dff), to(#70bafe));
  background-image: -webkit-linear-gradient(left, #70bafe 0%, #998dff 51%, #70bafe 100%);
  background-image: -o-linear-gradient(left, #70bafe 0%, #998dff 51%, #70bafe 100%);
  background-image: linear-gradient(to right, #70bafe 0%, #998dff 51%, #70bafe 100%);
  background-size: 200% auto;
  z-index: 2;
  width: 176px;
  padding: 0px;
  display: inline-block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 58px;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
}

.submit_btn:hover {
  background-position: right center;
  color: #fff;
}

.submit_btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  border: 6px solid rgba(204, 241, 255, 0.5);
}

.solid_btn {
  padding: 0px 53px;
  background: #6fbcfe;
  z-index: 2;
  display: inline-block;
  -webkit-transition: all 400ms ease-out;
  -o-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
  text-align: center;
  color: #fff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  line-height: 55px;
  border: 6px solid rgba(204, 241, 255, 0.5);
  border-radius: 33px;
}

.solid_btn:hover {
  background-position: right center;
  color: #fff;
}
*/
/* Button Area css
============================================================================================ */
/*---------------------------------------------------- */

/*----------------------------------------------------*/
/* Portfolio Area css
============================================================================================ */
.portfolio_area {
  border-bottom: 2px solid #fff;
}

.portfolio_filter {
  padding: 95px 0px 130px 0px;
}

.portfolio_filter ul li {
  display: inline-block;
  margin-right: 40px;
}

.portfolio_filter ul li a {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #7e8d9c;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.portfolio_filter ul li:last-child {
  margin-right: 0px;
}

.portfolio_filter ul li:hover a, .portfolio_filter ul li.active a {
  color: #0b1033;
}

.wd_25 {
  width: 25%;
}

.wd_50 {
  width: 50%;
}

.ms_portfolio_inner {
  overflow: hidden;
}

.ms_portfolio_inner .ms_p_item {
  float: left;
}

.ms_portfolio_inner .ms_p_item img {
  width: 100%;
}

/* End Portfolio Area css
============================================================================================ */
/*---------------------------------------------------- */

/*----------------------------------------------------*/
/* Footer Area css
============================================================================================ */
.footer_widget_area {
  background: url(../img/footer-bg.jpg) no-repeat scroll center center;
  background-size: cover;
  padding: 130px 0px 115px 0px;
}

.f_title {
  padding-bottom: 45px;
}

.f_title h3 {
  font-size: 16px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.f_about_widget {
  padding-right: 35px;
}

.f_about_widget img {
  padding-bottom: 55px;
}

.f_about_widget p {
  font-size: 15px;
  line-height: 28px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.f_insta_widget ul {
  overflow: hidden;
  margin: -1px;
}

.f_insta_widget ul li {
  width: calc(100% / 4);
  float: left;
}

.f_insta_widget ul li a {
  display: inline-block;
  padding: 1px;
}

.f_insta_widget ul li a img {
  width: 100%;
}

.f_subs_widget .input-group {
  display: block;
}

.f_subs_widget .input-group input {
  display: block;
  width: 100%;
  border-radius: 0px;
  border: none;
  height: 52px;
  padding: 0px 30px;
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input.placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input:-moz-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input::-moz-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group input::-webkit-input-placeholder {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #9b9b9b;
}

.f_subs_widget .input-group .input-group-btn {
  margin-left: 0px;
  display: block;
  margin-top: 25px;
}

.f_subs_widget .input-group .input-group-btn .submit_btn {
  margin-left: 0px;
  border-radius: 35px !important;
}

.f_subs_widget .input-group .input-group-btn .submit_btn:hover {
  border-color: #8cc4fb;
}

.footer_copyright {
  overflow: hidden;
  background: #11173b;
  padding: 35px 0px;
}

.footer_copyright .float-sm-left h5 {
  font-size: 14px;
  color: #2a2f56;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 29px;
}

.footer_copyright .float-sm-right ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer_copyright .float-sm-right ul li a {
  font-size: 14px;
  color: #2a2f56;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.footer_copyright .float-sm-right ul li:last-child {
  margin-right: 0px;
}

.footer_copyright .float-sm-right ul li:hover a {
  color: #fff;
}

/* End Footer Area css
============================================================================================ */
/*---------------------------------------------------- */

/*# sourceMappingURL=style.css.map */